<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<h1>Задачи</h1>

<ul>
    {{#each tasks}}
    <li>
        {{#if this.completed}}Completed {{/if}}
        <a href="/tasks/{{this._id}}">{{this.title}}</a>
        {{#unless this.completed}}
        <form method="POST" action="/tasks/complete">
        <input type="hidden" value="{{this._id}}" name="id">
        <input type="submit" value="Задача выполнена!">
        </form>
        {{/unless}}
        <form method="POST" action="/tasks/remove">
        <input type="hidden" value="{{this._id}}" name="id">
        <input type="submit" value="Удалить задачу">
        </form>
    </li>
    {{/each}}
</ul>
<hr>
<form action="/tasks" method="POST">
    <input type="text" placeholder="Введите название новой задачи" name="title">
    <input type="submit" value="Добавить">
</form>
<hr>
<a href="/logout">Выйти из аккаунта</a>